doctype html
html(lang='en')
  head
    title= 'Recipes App'
    script(type='text/javascript').
  body
    h1 React Base
    #container.col
      p.
        This is a bootstrapping project, a template to be forked.
      - var readyToGo = true
      if readyToGo
        p All is good to go.
      else
        p Seems things not working yet.
    h3 React component coming up now:
    div#root